h1{
    color: rgb(49, 80, 49);
    text-align: center;
}
header{
    height: 80px;
    background-color: rgb(31, 65, 50);

}
footer{
    height: 80px;
    background-color: rgb(31, 65, 50);
}
main{
    height: calc(100vh - 160px);
    background-color: aquamarine;
    overflow-y: auto;
}
.griglia{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
}
.quadrato{
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
    border: 1px solid black;
}
.selezionato{
    background-color: rgb(15, 218, 93);
    background-image: url("../img/6188570.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.myred{
    background-color: red;
    background-image: url("../img/595582.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#miaBomba{
    width: 50px;
    height: 50px;
    margin-bottom: 10px ;
}